<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-4x"></i>
    <h1 class="display-3"> Congratulations You are Beyond the Wall!</h1>
    <p class="secret-text">I used to stretch my t-shirts out before going to teh gym so that personal trainer would think I lost weight.</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
